!!!
html
    head
        link(rel='stylesheet', href='/css/styles.css')
    body
        #main
            h1 Welcome
            h2 To the Land of Opportunity
            p Take a seat and enjoy the scenery while it lasts.
